body{
    margin: 0;
  
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container{
  margin: 12px;
}
.nav-container nav ul{  
    list-style: none;
    display: flex;
    justify-content: space-between;
   
    
}
.nav-container nav ul li{  
    padding-right: 12px;
}
#ijse-logo{
    width: 200px;
    height: 100px;
}

.side-nav{
    background-color:#4c0182;
    width: 35%;
}
.side-nav nav ul{  
    color: white;
    list-style: none;
}
.side-nav nav ul li{  
    padding-bottom: 12px;
}
/* ///////////////////////////////////////////////////////////////////// */
hr{
    margin: 0;
    border: 1.5px solid black;
}
#home{
    display: flex;
    justify-content: space-between;
}
.details{
    margin: 10px;
    margin-top: 0;  
}
.video-container video{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    object-fit: cover;
    margin-top: 1px;
    
}
footer{
    background-color: grey;
    color: white;
    text-align: center;
}